/*平台应用main*/
.application_main{text-align: center;}
.system_main{text-align: center;}
/* application*/
.application{width:1000px;background-color: #fff;border:1px #e3e3e3 solid;}
.application ul{overflow: hidden;}
.application li{width:156px;height:190px;margin:20px 36px;float: left;}
.application li:hover{opacity: 0.5;}